@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	background-color: #000;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #FFF;	
}


#cust_det {
	padding: 10px 40px 25px;
	font-size: large;
	width: 490px;
	height: 250px;
	border-radius: 10px;
	font-family: raleway;
	border: 2px solid #ccc;
	background-color: #000;
	color: #FFF;
}
#logout {
	color: #FFF;
	font-family: "Comic Sans MS", cursive;
	
}
#container {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}



#navigation li {
	width: 100%;
	display: inline;
	list-style-type: none;
	font-family: Arial;
	font-size: 20px;
	//padding-right:0px;
	/* [disabled]margin: 50px; */
	
	
}
#table01 {
	
	padding-top:65px;
	color: #FFF;
//	margin: 100 px;

}

#languages {
	margin: 0px;
	padding: 0px;
}


#navigation a {
	padding: 15px 25px;
	
	color: #FFF;
	text-decoration: none;
//	border-radius: 30px;
//	background-color: #666;
	
}

#footer {
	font-size: 14px;
	position: absolute;
	width: 100%;
	/*bottom: -850px; */
	color: #FFF;
	height: 30px;
	text-align: center;
	
}


 .push {
	height: 155px; /* .push must be the same height as .footer */
}


#navigation a:hover {
// background-color:#F90;
color: #F90;
}

#login_app {
	padding: 10px 40px 25px;
	font-size: large;
	width: 490px;
	height: 430px;
	border-radius: 10px;
	font-family: raleway;
	border: 2px solid #ccc;
	background-color: #000;
	color: #FFF;
}
#title_{
	width: 100%;
	font-family: "Comic Sans MS", cursive;
	text-align: center;
	background-color: #FFF ;
	color: #000;
	 margin: 0px;
	padding: 0px;
	font-size:28px ;
	border: 8px solid #FFF;
	border-bottom:thin;
	border-bottom-color:#FFF;

}



#droplist {
	height: 30px;
	width: 300px;
}
.text {
	font-family: "Comic Sans MS", cursive;
	font-size: 16px;
	color: #FFF;
	background-color: #000;
}

.links {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	//font-style: italic;
	padding-bottom: 30px;
	color:#F00;
	
}
.links a:hover { 
color:#006;
}


.input_ {
	
	margin-bottom: 30px;
	
	
}
#about_title {
	font-family: "Comic Sans MS", cursive;
	text-align: center;
	background-color: #000;
	color: #FFF;
	 
	font-size:28px ;
}



.button {
	display: inline-block;
	color: #FFFFFF;
	outline: none;
	text-shadow: -1px -1px 0 rgba(26, 26, 26, 0.5);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 0 -1px 1px #66ccff, 0 8px 0 #0088cc, 0 10px 15px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: inset 0 -1px 1px #66ccff, 0 8px 0 #0088cc, 0 10px 15px rgba(0, 0, 0, 0.35);
	box-shadow: inset 0 -1px 1px #FFF, 0 8px 0 #FFF, 0 10px 15px rgba(0, 0, 0, 0.35);
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	padding : 10px;
	/* Pass any colors you like, I hope the mixin will handle it */
	
	font: normal normal  "Lobster", serif;
	text-decoration: none;
	background-color: #000;
}
.button:hover {
  text-shadow: 0 0 5px rgba(241, 241, 241, 0.65), -1px -1px 0 rgba(26, 26, 26, 0.5);
  background: #66ccff;
  background-color: #F90;
  -moz-box-shadow: inset 0 -1px 1px #70cfff, 0 8px 0 #0096e0, 0 10px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0 -1px 1px #70cfff, 0 8px 0 #0096e0, 0 10px 15px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 -1px 1px #70cfff, 0 8px 0 #0096e0, 0 10px 15px rgba(0, 0, 0, 0.35);
}
.button:active, .button:focus {
  top: 4px;
  -moz-box-shadow: inset 0 -1px 1px #70cfff, 0 5px 0 #0096e0, 0 6px 8px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 0 -1px 1px #70cfff, 0 5px 0 #0096e0, 0 6px 8px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 -1px 1px #70cfff, 0 5px 0 #0096e0, 0 6px 8px rgba(0, 0, 0, 0.35);
}



#login {
	width: 300px;
	border-radius: 10px;
	font-family: raleway;
	border: 2px solid #ccc;
	padding: 10px 40px 25px;
	margin-top: 70px;
	background-color: #000;
	color: #FFF;
}
/*
table, th, td {
    border: 1px solid black;
	color: #FFF;
    border-collapse: collapse;
}
th, td {
	color: #FFF;
    padding: 5px;
    text-align: left;
}

*/

/**
 * FILE: jquery.ptTileSelect.css
 * 	Default style for the timeselect container.
 * 
 *  LAST UPDATED:
 * 
 * 		- $Date: 2009/04/12 20:23:02 $
 * 		- $Author: paulinho4u $
 * 		- $Revision: 1.1 $
 */
#ptTimeSelectCntr {
	width: 250px; 
	font-size: .9em;
	position: absolute;
	z-index: 10;
	display: none;
}
#ptTimeSelectCntr .ui-widget{
	padding: .2em;
}
#ptTimeSelectCntr .ui-widget-header {
	padding: .2em;
}
#ptTimeSelectCntr #ptTimeSelectUserTime {
	font-size: larger;
	padding: .2em;
	padding-left: 1em;
	text-align: center;
}
#ptTimeSelectCntr #ptTimeSelectCloseCntr {
	display: block;
	padding: .2em;
}
#ptTimeSelectCntr #ptTimeSelectCloseCntr a {
	display: block;
	padding: .2em;
}
#ptTimeSelectCntr .ui-widget-content {
	 margin-top: .1em;
	 margin-bottom: .1em; 
	 padding: .2em;	
}
#ptTimeSelectCntr .ui-widget.ui-widget-content {
	margin-top: 0;
}
#ptTimeSelectCntr .ptTimeSelectLeftPane.ui-widget-content {
	border-top:none;
	border-bottom:none;
	border-left:none;
	border-right-width: 2px;
}
#ptTimeSelectCntr .ptTimeSelectRightPane.ui-widget-content {
	border: none;
	
}
#ptTimeSelectCntr .ptTimeSelectHrCntr a,
#ptTimeSelectCntr .ptTimeSelectMinCntr a {
	display: block;
	float: left;
	padding: .2em;
	width: 1.9em;
	margin: 1px;
	text-align: center;
	text-decoration: none;
}
#ptTimeSelectCntr .ptTimeSelectHrAmPmCntr a {
	text-align: center;
	margin: 1px;
}
#ptTimeSelectCntr .ptTimeSelectTimeLabelsCntr {
	font-weight: bold;
	font-size: .9em;
}
#ptTimeSelectCntr #ptTimeSelectSetButton {
	padding-top: .2em;
	padding-bottom: .2em;
}
#ptTimeSelectCntr #ptTimeSelectSetButton a {
 	display: block;
	padding: .2em;
	width: 30%;
	text-align: center;
	
	float: right;
}

